:root {
  --primary-color: #FFFFFF;
  --font-color: #212121;
  --spinner-background: #00000022;
  --status-bar-background: #E0E0E0;
  -webkit-app-region: drag;
}

[data-theme="dark"] {
  --primary-color: #616161;
  --font-color: #FFFFFF;
  --spinner-background: #00000070;
  --status-bar-background: #424242;
}

body {
  background-color: var(--primary-color);
}
